*.d

*.slo
*.lo
*.o
*.obj

*.gch
*.pch

*.so
*.dylib
*.dll

*.mod
*.smod

*.lai
*.la
*.a
*.lib

*.exe
*.out
*.app

build/*
bin/*
!bin/.gitkeep
.vscode/*
venv/*
plots/*

*.png
*.root

config/__pycache__/
*.pyc

venv/
env/

dataset/*
CMakeFiles/
